header{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    height: 143px;
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 0px 15px;
    
}

.header_img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_img{
    width: 115px;
    height: 115px;
    border-radius: 50%;
    border: 2px solid #8DBEFF;
    background-color: white;
}

.header_userName{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    line-height: 24px;
    position: relative;
}

.header_userName span:first-child{
    font-size: 18px;
}

.header_userName span:nth-child(2){
    font-size: 24px;
    font-weight: bold;
}

.header_userName span:nth-child(3){
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}